@charset "UTF-8";

html {
  scroll-behavior: smooth;
  font-size: 100%;
  max-width: 1920px;
  max-height: 700px;
}

h2 {
  color: #fff7b0;
  font-size: 32px;
  -webkit-text-stroke: 1px black;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
.dotgothic16-regular {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* 画面全体の設定 */
#loader_wrap {
  position: fixed;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: #ffffff;
}

/* ヘッダーとフッターを画面幅いっぱいに固定 */
.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}
/* ローディングアニメーションの設定 */
.loader {
  width: 1000px;
  height: 170px;
  background: url("img/now loading.png") no-repeat;
  opacity: 0;
  animation: blink 1.5s infinite linear;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

/* ローディング終了後 */
.loaded {
  opacity: 0;
  visibility: hidden;
}

#loader_wrap {
  padding: 0;
}

/* ヘッダー */

#header {
  position: fixed;
  width: 100%;
  height: 60px;
  background: #c5f5ff;
  padding: 0px 100px;
  top: 0;
  /* box-sizing: border-box; */
  /* left: 0; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 60;
}
#header ul {
  display: flex;
  padding: 10px 0;
}
#header li {
  margin-left: 30px;
  transition: all 0.3s ease 0s;
}
#header li:hover {
  transform: scale(1.2);
}

#header img {
  height: 40px;
}

/* スクロールの矢印たち */

.scrolldown4 {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  bottom: 1%;
  right: 50%;
  /*矢印の動き1秒かけて永遠にループ*/
  animation: arrowmove 1s ease-in-out infinite;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove {
  0% {
    bottom: 5%;
  }
  50% {
    bottom: 6%;
  }
  100% {
    bottom: 5%;
  }
}

/*Scrollテキストの描写*/
.scrolldown4 span {
  /*描画位置*/
  position: absolute;
  left: -20px;
  bottom: 10px;
  /*テキストの形状*/
  color: #000000;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

/* 矢印の描写 */
.scrolldown4:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  right: -6px;
  /*矢印の形状*/
  width: 1px;
  height: 20px;
  background: #000000;
  transform: skewX(-31deg);
}

.scrolldown4:after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  right: 0;
  /*矢印の形状*/
  width: 1px;
  height: 50px;
  background: #000000;
}

/* メイン */
main {
  /* display: flex;
  padding: 0 100px; */
  background-color: #c5f5ff;
}

/* TOP */
.present {
  animation: fluffy 8s infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.2s ease;
}
/* アニメーションの設定 */
@keyframes fluffy {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* .area {
  overflow: hidden;
} */

/* ↑スクロールに悪さしてそう */

.wrap {
  position: relative;
  height: 100vh;
}

.welcome {
  position: absolute;
  width: 90%;
}

.present {
  position: absolute;
  top: 50%;
  left: 25;
  z-index: 10;
  width: 460px;
  height: 460px;
}
.home-img {
  position: absolute;
  top: 20%;
  left: 50%;
  z-index: 0;
  width: 560px;
  height: 560px;
}
.about-img {
  display: flex;
  position: absolute;
  padding-right: 160px;
  top: 20%;
  left: 50%;
  z-index: 0;
  width: 560px;
  height: 560px;
}

p.dotgothic16-regular {
  width: 400px;
  font-size: 16px;
}

#about {
  display: block;
  padding-left: 10%;
}

/* works */
.works-img {
  display: flex;
  position: absolute;
  padding-right: 120px;
  top: 20%;
  left: 50%;
  width: 560px;
  height: 560px;
}

#works {
  display: flex;
}

.swiper h2 {
  padding: 30px 0 90px;
}

.swiper {
  height: 475px;
  width: min(100%, 640px);
  margin-inline: auto;
}
@media screen and (max-width: 640px) {
  .swiper {
    height: 61vw;
  }
}

.swiper-button-prev,
.swiper-button-next {
  margin: 0 auto;
  right: 20px;
  left: initial;
  transform: rotate(90deg);
}

.swiper-button-prev {
  top: 110px;
  left: 20px;
  z-index: 300;
}

.swiper-button-next {
  top: initial;
  bottom: 0;
  left: 20px;
  z-index: 300;
}

.worksimg img {
  /* 家の画像 */
  display: flex;
  position: absolute;
  padding-right: 120px;

  left: 100%;
  width: 560px;
  height: 560px;
}

/* contact */
.contact-img {
  display: flex;
  position: absolute;
  padding-right: 120px;
  top: 200px;
  left: 50%;
  z-index: 0;
  width: 560px;
  height: 560px;
}

#contact {
  display: block;
  text-align: left;
  padding-left: 20%;
  /* padding-top: 5%; */
  width: 600px;
}

.sent {
  text-align: center;
}

.sent-button {
  width: 80px;
  border-radius: 50px;
}

input {
  border-width: thin;
  box-shadow: 0px 5px 5px -5px gray;
  width: 384px;
}

textarea {
  border-width: thin;
  box-shadow: 0px 5px 5px -5px;
  width: 384px;
}
/* フッター */
#footer {
  position: fixed; /* ←fixedで固定 */
  bottom: 0; /* ←ページ下部に設置 */
  width: 100%;
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  background: #c5f5ff;
  padding: 1em;
}
